.list-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 18px;
}

.list-row {
    width: 100%;
    height: 45px;
    display: grid;
    grid-template-columns: 5% auto 21%  18% 14%;
}

.list-row > div {
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
}

.special-font {
    color: #3FAA9D;
}

.list-row:nth-child(even) {
    background-color: #D9D9D9;
}

.item:hover{
    cursor: pointer;
}