.login-container {
    background: linear-gradient(100.95deg, #FFF27D 4.06%, #BEF9C1 47.3%, #8EFFF1 95.29%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container > h1 {
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 100px;
}

.line {
    height: 0;
    width: 20%;
    border-bottom: 3px solid #676767;
    margin-bottom: 60px;
}

.login-container > span {
    font-size: 18px;
    margin-bottom: 30px;
}

.login-container > span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.login-container > button {
    background: #676767;
    width: 150px;
    height: 40px;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

.login-container > button:hover {
    cursor: pointer;
    background: #ffffff;
    color: #676767;
    border: #676767 solid 2px;
}