/** @format */

.student-manager {
  display: flex;
  box-sizing: border-box;
  padding: 5px 25px;
}
.tools {
  margin: 5px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.tools > input {
  display: block;
  margin: auto 20px;
}
.tools > div {
  margin-right: 20px;
  min-width: 100px;
}
.tools > img:hover {
  cursor: pointer;
}

.student-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 30%;
}

.view-profile {
  min-width: 60%;
  position: relative;
  box-sizing: border-box;
  padding: 0 20px;
}
.time {
  position: absolute;
  font-size: 1.8rem;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.flip {
  transform: scaleX(-1);
}

.student-manager-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.student-remove-btn {
  background-color: #ff5454;
  color: #ffffff;
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  width: 100px;
  float: right;
  margin-right: 50px;
  cursor: pointer;
}
