/** @format */

.student-card {
  min-width: 180px;
  flex-basis: 15%;
  margin: 10px;
  height: 270px;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 100ms ease-out;
  box-shadow: 3px 3px 7px #aaaaaa;
}
.student-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.avatar-box {
  width: 60%;
}

.student-card > span {
  font-weight: bold;
  margin: 40px 0 20px;
}
