.class-subject-modal {
    position: absolute;
    width: 25%;
    background: #ffffff;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 10px;
    font-size: 18px;
    min-height: 400px;
}
.table {
    width: 100%;
}
.table-row {
    width: 100%;
    display: grid;
    grid-template-columns: 12% auto 30%;
    box-sizing: border-box;
    padding: 5px 0px;
}
.table-row  > div {
    text-align: center;
}

.has-color:nth-child(even) {
    background: #EBEBEB;
}
.has-color:nth-child(odd) {
    background:  #D8D8D8;
}