/** @format */

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 20px;
}
.profile-content {
  display: flex;
}

.profile-left {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}

.user-img {
  background: #d9d9d9;
  width: 130px;
  height: 130px;
  border: none;
  border-radius: 50%;
  margin-bottom: 40px;
}

.profile-left > button {
  width: 220px;
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  background: #d9d9d9;
  border-radius: 20px;
}

.profile-left > button:hover {
  cursor: pointer;
  border: 2px solid #676767;
}

.profile-right {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  font-size: 20px;
  margin-bottom: 25px;
}

.content-field {
  width: 160px;
  text-align: end;
  margin-right: 30px;
  font-weight: bold;
}
